:root
{
    --dropdown-px: 15pt;
    --dropdown-py: 5pt;
}

.nav-dropdown
{
    position: relative;
    display: inline-block;
}

ul.nav-dropdown-content
{
    display: none;
    position: absolute;
    background-color: var(--colour1);
    box-shadow: 0pt 3pt 3pt 0pt rgba(0,0,0,0.2);
    margin: 0pt 0pt 0pt calc(0pt - var(--dropdown-px));
    padding: var(--dropdown-py) var(--dropdown-px);
    z-index: 1;
    list-style-type: none;
}
li.dropdown
{
    margin: 0px;
    font-size: 12pt;
    white-space: nowrap;
}

.nav-dropdown:hover ul.nav-dropdown-content
{
    display: block;
}