:root
{
    --dropdown-px: 1.25em;
    --dropdown-py: 0.416em;
}

.nav-dropdown
{
    position: relative;
    display: inline-block;
}

ul.nav-dropdown-content
{
    /*display: none;*/
    position: absolute;
    background-color: var(--colour1);
    box-shadow: 0pt 3pt 3pt 0pt rgba(0,0,0,0.2);
    margin: 0pt 0pt 0pt calc(0pt - var(--dropdown-px));
    padding: var(--dropdown-py) var(--dropdown-px);
    z-index: 1;
    list-style-type: none;
    transform: scaleY(0%);
}
li.dropdown
{
    margin: 0px;
    font-size: 1rem;
    white-space: nowrap;
}
/*
.nav-dropdown:hover ul.nav-dropdown-content
{
    /*display: block;*//*
    transform: scaleY(100%);
}*/