:root
{
    --colour1: #e9f0ee;
    --colour2: #cccccc;
    --colour3: #479987;
    --colour4: #004d3d;
    --colour5: #2a584f;
    --colour6: #999999;
    --colour7: #748594;
    --colourFoot: #cbcfce;
}

/* Code for Firefox */
::-moz-selection
{
    color: var(--colour4);
    background: var(--colour2);
}
::selection
{
    color: var(--colour4);
    background: var(--colour2);
}

body
{
    margin: 0%;
    font-family: Nunito;
    background-color: var(--colour1);
    font-size: 12pt;
    font-weight: 400;
}

.hidden
{
    display: none !important;
}

header
{
    background-color: var(--colour2);
    margin: 0%;
    padding: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

footer
{
    background-color: var(--colourFoot);
    margin: 0%;
    padding: 10px;
    text-align: center;
    bottom: 0%;
}

p
{
    margin: 10px 15px;
}

hr
{
    margin: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: var(--colour7);
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    background-color: var(--colour7);
}

hr.pre-heading
{
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 7px;
}

h1
{
    color: var(--colour3);
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 46pt;
    text-shadow: 2px 2px 2px var(--colour4);
}
/* Code for Firefox */
h1::-moz-selection
{
    color: var(--colour1);
    background: var(--colour6);
    text-shadow: 2px 2px 2px var(--colour2);
}
h1::selection
{
    color: var(--colour1);
    background: var(--colour6);
    text-shadow: 2px 2px 2px var(--colour2);
}

h2
{
    color: var(--colour3);
    margin: 0 0 0 20px;
    text-align: left;
    font-weight: 800;
    font-size: 38pt;
    text-shadow: 1.25px 1.25px 2px var(--colour4);
}
/* Code for Firefox */
h2::-moz-selection
{
    color: var(--colour1);
    background: var(--colour6);
    text-shadow: 1.25px 1.25px 2px var(--colour2);
}
h2::selection
{
    color: var(--colour1);
    background: var(--colour6);
    text-shadow: 1.25px 1.25px 2px var(--colour2);
}

a#skip-nav
{
    position: absolute;
    
    background-color: var(--colour5);
    color: var(--colour1);
    padding: 0.25em 0.5em;
    
    transform: translateY(-120%);
    transition: transform 120ms ease-out;
}
a#skip-nav:focus
{
    transform: translateY(0%);
}

a.unstyled-link
{
    all: inherit;
    cursor: pointer;
    margin: 0%;
}
a.unstyled-link:hover
{
    all: inherit;
    cursor: pointer;
    margin: 0%;
}
a.unstyled-link:active
{
    all: inherit;
    cursor: pointer;
    margin: 0%;
}

a
{
    color: var(--colour5);
    text-decoration: none;
}
a:hover
{
    color: var(--colour4);
    text-decoration: none;
}
a:active
{
    color: var(--colour3);
    text-decoration: none;
}

ul
{
    padding-left: 55px;
    margin-top: 7px;
}
li
{
    margin: 2.5px;
    font-size: 13pt;
}

/*Scroll bar styling*/
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: var(--colour1);
    margin: 1px;
}
::-webkit-scrollbar-thumb
{
    background: #888;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover
{
    background: rgb(105, 105, 105);
}