nav
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.16em;
}

hr.nav-line
{
    margin: 2.5em;
    margin-top: 0.16em;
    margin-bottom: 0.416em;
}

@media screen and (max-width: 80ch)
{
    nav
    {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
}